<section class="bg-primary" id="education">
    <div class="container">
        <div class="row text-center">
                <h2 class="section-heading"><b>Education</b></h2>
                <hr class="light">
                <!-- <hr class="primary"> -->
        </div>
    </div>

    
    <div class="container">
        <div class="row ex1">
            <!-- <div class="col-lg-14 text-left ex1"> -->
                <h4>Ph.D. in Applied Mathematics
                    <span style="float:right;">2010 &ndash; 2015</span></h4>
                <h4 class="text-faded"><i>University of Guelph
                    <span style="float:right;">Guelph, ON, Canada</span></i></h4>
            <!-- </div> -->
        </div>
    </div>

    <br>
    
    <div class="container">
        <div class="row ex1">
            <!-- <div class="col-lg-14 text-left ex1"> -->
                <h4>M.Sc. in Applied Mathematics 
                    <span style="float:right;">2008 &ndash; 2010</span></h4>
                <h4 class="text-faded"><i>University of Guelph
                    <span style="float:right;">Guelph, ON, Canada</span></i></h4>
            <!-- </div> -->
        </div>
    </div>

    
    <br>
    
    


    <div class="container">
        <div class="row ex1">
            <!-- <div class="col-lg-14 text-left ex1"> -->
                <h4>B.Sc. (with Honours) Mathematics (Physics Minor)
                    <span style="float:right;">2004 &ndash; 2008</span></h4>
                <h4 class="text-faded"><i>Wilfrid Laurier University
                    <span style="float:right;">Waterloo, ON, Canada</span></i></h4>
            <!-- </div> -->
        </div>
    </div>

    <!--
    <br>
    <div class="col-lg-12 text-center">
    <br>
    <br>
    <a href="#page-top" class="btn btn-default btn-xl page-scroll">Back to top</a>
    </div>
    <br>
    <br>
    -->
  
  
    <br>
    <br>
    <br>

    <center>
      <a href="#page-top" class="btn btn-default btn-xl page-scroll section">Back To Top</a>   
    </center>

</section>
