<section id="publications">
  
  <div class="container">
    <div class="row">
      <div class="col-lg-14 text-center">
        <h2 class="section-heading"><b>Publications</b></h2>
        <hr class="primary">
        <!-- <hr class="primary"> -->
      </div>
    </div>
  </div>
  
  <section id="In Preparation" style="padding-left:0em; padding-top:1em; padding-bottom:0em">
    
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
          <h3 class="section-heading"><b>In Preparation</b></h3>
        </div>
      </div>
    </div>
  
  <div class="container">
      <div class="row ex1 text-left">
        <h4>Kim, JJ., McFarlane, T., <b>Tully, S.,</b> and Wong, WWL. </h4>
        <!--<h4><i><u><a href="http://www.sciencedirect.com/science/article/pii/S0024379515000166" 
          style="color: rgb(255,255,255)">. 
          Bounds on polygons of higher rank numerical ranges </a></u></i> -->
        </h4>
        <h4>Lenvatinib versus sorafenib as first-line treatment of unresectable hepatocellular carcinoma in Canada: a cost-utility analysis (In Preparation).  </h4>
      </div>
    </div>
    
    <br>
    
    <div class="container">
      <div class="row ex1 text-left">
        <h4><b>Tully, S.,</b> Feng, Z., Grindrod, K., McFarlane, T., Chan, KKW., William W. L. Wong, WWL.,</h4>
        <!--<h4><i><u><a href="https://arxiv.org/abs/1203.3908" 
          style="color: rgb(255,255,255)">
          Normal matrix compressions </a></u></i> -->
        </h4>
        <h4>Impact of increasing wait times on overall mortality of Chimeric Antigen Receptor T-Cell Therapy in large B-cell lymphoma: A discrete event simulation model. (In Preparation).  </h4>
      </div>
    </div>
    
    <br>
    
    
    <div class="container">
      <div class="row ex1 text-left">
        <h4><b>Tully, S.,</b> Sonnenberg, P., Mercer, C., Baussano, I., </h4>
        <!--<h4><i><u><a href="https://arxiv.org/abs/1203.3908" 
          style="color: rgb(255,255,255)">
          Normal matrix compressions </a></u></i> -->
        </h4>
        <h4>National Survey of Sexual Attitudes and Lifestyles: Sexual mixing by age, and the association between age-difference between partners and risk of HPV infection. (In Preparation).  </h4>
      </div>
    </div>
    
  </section>
  
  
  
  
  
  
  
  
  <section id="refereed" style="padding-left:0em; padding-top:1em; padding-bottom:0em">
    
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
          <h3 class="section-heading"><b>Refereed Publications</b></h3>
        </div>
      </div>
    </div>
    
    
    <div class="container">
      <div class="row ex1 text-left">
        <h4>Clifford, GM., <b>Tully, S.,</b> and Franceschi, S. (2017) </h4>
        <h4><i><u><a href="https://www.ncbi.nlm.nih.gov/pubmed/28199532">
          Carcinogenicity of human papillomavirus (HPV) types in HIV-positive women: a meta-analysis from HPV infection to cervical cancer. </a></u></i> 
        </h4>
        <h4>Clinical Infectious Diseases 64.9 (2017): 1228-1235. </h4>
      </div>
    </div>
    
    <br>

    <div class="container">
      <div class="row ex1 text-left">
        <h4>Baussano, I., Diaz, M., <b>Tully, S.,</b> Muñoz,  N., de Sanjosé  S.,  Xavier Bosch  F., Franceschi, S. (2017) </h4>
        <h4><i><u><a href="https://www.sciencedirect.com/science/article/pii/S2405852116300866">
          Effect of age-difference between heterosexual partners on risk of cervical cancer and human papillomavirus infection. </a></u></i> 
        </h4>
        <h4>Papillomavirus Res. 2017;3:98–104. </h4>
      </div>
    </div>
    
    <br>

    <div class="container">
      <div class="row ex1 text-left">
        <h4>Clifford, G. M., de Vuyst, H., Tenet, V., Plummer, M., <b>Tully, S.,</b> & Franceschi, S. (2016). </h4>
        <h4><i><u><a href="https://www.ncbi.nlm.nih.gov/pubmed/27331659">
          Effect of HIV infection on human papillomavirus types causing invasive cervical cancer in Africa. </a></u></i> 
        </h4>
        <h4>Journal of Acquired Immune Deficiency Syndromes, 73(3), 332. </h4>
      </div>
    </div>
    
    <br>

    <div class="container">
      <div class="row ex1 text-left">
        <h4> <b>Tully, S.,</b> Cojocaru, M., Bauch, C.T. (2016).  </h4>
        <h4><i><u><a href="https://www.ncbi.nlm.nih.gov/pubmed/27879104"">
          Multiplayer games and HIV transmission via casual encounters. </a></u></i> 
        </h4>
        <h4>JAIMS Mathematical Biosciences and Engineering, 14(2), 359-376. </h4>
      </div>
    </div>
    
    <br>

    <div class="container">
      <div class="row ex1 text-left">
        <h4> Brisson, M., Bénard, É., Drolet, M., Bogaards, J. A., Baussano, I.,… <b>Tully, S.,</b> ... & Canfell, K. (2016).   </h4>
        <h4><i><u><a href="https://www.ncbi.nlm.nih.gov/pubmed/29253379">
          Population-level impact, herd immunity, and elimination after human papillomavirus vaccination: a systematic review and meta-analysis of predictions from transmission-dynamic models.  </a></u></i> 
        </h4>
        <h4>The Lancet Public Health, 30001-9. </h4>
      </div>
    </div>
    
    <br>

    <div class="container">
      <div class="row ex1 text-left">
        <h4> <b>Tully, S.,</b> Cojocaru, M., & Bauch, C.T. (2015).    </h4>
        <h4><i><u><a href="https://www.ncbi.nlm.nih.gov/pubmed/26507957">
          Sexual behavior, risk perception, and HIV transmission can respond to HIV antiviral drugs and vaccines through multiple pathways.   </a></u></i> 
        </h4>
        <h4>Scientific reports, 5. </h4>
      </div>
    </div>
    
    <br>

    <div class="container">
      <div class="row ex1 text-left">
        <h4> <b>Tully, S.,</b> Cojocaru, M., & Bauch, C.T. (2013).    </h4>
        <h4><i><u><a href="https://www.ncbi.nlm.nih.gov/pubmed/23988796">
          Coevolution of risk perception, sexual behaviour, and HIV transmission in an agent-based model.   </a></u></i> 
        </h4>
        <h4>SJournal of theoretical biology, 337, 125-132. </h4>
      </div>
    </div>
    
    <br>

    <div class="container">
      <div class="row ex1 text-left">
        <h4><b>Tully, S.,</b> Anonychuk, A. M., Sanchez, D. M., Galvani, A. P., & Bauch, C.T. (2012). </h4>
        <h4><i><u><a href="https://www.ncbi.nlm.nih.gov/pubmed/22075091" >
          Time for change? An economic evaluation of integrated cervical screening and HPV immunization programs in Canada. </a></u></i>
        </h4>
        <h4>Vaccine, 30(2), 425-435.</h4>
      </div>
    </div>
    
  </section>
          
          
  <!--  
  
  <section id="textbooks" style="padding-left:0em; padding-top:2em; padding-bottom:0em">
    
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
          <h3 class="section-heading"><b>Textbooks</b></h3>
        </div>
      </div>
    </div>
    
    <div class="container">
      <div class="row ex1 text-left">
        <h4>Kim, P., <b>Mudalige, N.C.</b>, Smith, E. (2016)</h4>
        <h4><i><u><a href="https://drive.google.com/file/d/13oaqKNizsJHQ_QOYYqgpdOIrbAwukZC_/view?usp=sharing"
          style="color: rgb(255,255,255)">
          Introduction to Statistics: Customized Text for STAT*2060 </a></u></i>
        </h4>
      </div>
    </div>
    
    <br>
    
    <div class="container">
      <div class="row ex1 text-left">
        <h4>Diez, D. M., Barr, C. D., Cetinkaya-Rundel, M., <b>Mudalige, N.C. (2014)</b></h4>
        <h4><i><u><a href="https://drive.google.com/file/d/12_TbJDa1ukQ7tTDs8o3DPulokSlzumnp/view?usp=sharing"
          style="color: rgb(255,255,255)">
          Introduction to Probability and Statistics: Customized Text for STAT*2060</a></u></i>
        </h4>
        <h4>Creative Commons Attribution: Copyright Diez, Barr, Cetinkaya-Rundel, Mudalige (2014)</h4>
      </div>
    </div>
    
  </section>
  
  -->

  <br>
  <br>
  <br>
  
  <center>
    <a href="#page-top" class="btn btn-primary btn-xl page-scroll section">Back To Top</a>
  </center>
  
</section>
